---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Who is Derek?"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hi, I'm Derek. I am a creative who is passionate about building cool projects. I enjoy 
		video games, tinkering and sports.
	</p>


</Layout>
